@import url("../contacts/__container/contacts__container.css");
@import url("../contacts/__img/contacts__img.css");

.contacts {
  max-width: 1200px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}