@import url("../products-list/__item/products-list__item.css");
@import url("../products-list/__text/products-list__text.css");

.products-list {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}