body {
  max-width: 1920px;
  height: fit-content;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

@media screen and (max-width: 992px) {
  body {
    max-width: 992px;
  }
}
