@import url("../menu-item/__header/menu-item__header.css");
@import url("../menu-item/__img/menu-item__img.css");
@import url("../menu-item/__text-block/menu-item__text-block.css");
@import url("../menu-item/__text/menu-item__text.css");

.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}