@import url("../services/__header/services__header.css");
@import url("../services/__header/-mod/services__header-mod.css");

.services {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}