.contacts__img {
  width: 327px;
  height: 365px;
  position: absolute;
  left: 310px;
  top: 360.79px;
}

@media screen and (max-width: 992px) {
  .contacts__img {
    left: 500px;
    top: 370px;
  }
}