
.services__header {
  width: 100%;
  height: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2f2f51;
  text-align: center;
  margin-top: 68px;
  text-decoration: none;
}