@import url("../tech-char/__header/tech-char__header.css");
@import url("../tech-char/__item/tech-char__item.css");
@import url("../tech-char/__list/tech-char__list.css");
@import url("../tech-char/__points/tech-char__points.css");
@import url("../tech-char/__text/tech-char__text.css");
@import url("../tech-char/__result/tech-char__result.css");
@import url("../tech-char/__desc/tech-char__desc.css");

.tech-char {
  width: 633px;
  height: 461px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

@media screen and (max-width: 992px) {
  .tech-char {
    width: 496px;
    height: 461px;
  }
}
