.navigation__link {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

.navigation__link:visited {
  color: #000000;
}

.navigation__link:hover {
  color: #ef7f04;
}

@media screen and (max-width: 992px) {
  .navigation__link:hover {
    color: #ffffff;
  }
}
