.contacts__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .contacts__container {
    flex-direction: column;
    align-items: center;
  }
}
