.post__background {
  max-width: 1920px;
  max-height: 562px;
  position: relative;
}

@media screen and (max-width: 992px) {
  .post__background {
    width: 992px;
    height: 562px;
    z-index: 0;
  }
}