.standart-desc {
  width: 1200px;
  height:fit-content;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .standart-desc {
    max-width: 880px;
    height:fit-content;

    flex-wrap: wrap;
    justify-content: center;
  }
}