.post-form-mod__send {
  margin-left: auto;
  margin-right: auto;
  width: 199px;
  height: 55px;
  background-color: #ef7f04;
  border-radius: 3px;
  background-color: #2f2f51;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}