.header {
  max-width: 1920px;
  max-height: 97px;
  display: flex;
  flex-wrap: row;
  justify-content: flex-start;
}

@media screen and (max-width: 992px) {
  .header {
    max-width: 992px;
  }
}
