.portfolio {
  max-width: 1200px;
  max-height: 410px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

@media screen and (max-width: 992px) {
  .portfolio {
    max-width: 992px;
  }
}
