@import url("../item/__header/item__header.css");
@import url("../item/__pic/item__pic.css");
@import url("../item/__text/item__text.css");

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 55px;
  left: 50px;
}