.navigation__list {
  width: 700px;
  height: 19 px;
  display: flex;
  flex-wrap: row;
  justify-content: flex-start;
  margin-left: 44.5px;
  margin-top: 38px;
  margin-bottom: 38px;
}

@media screen and (max-width: 992px) {
  .navigation__list {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 98px;
    left: 200px;
    width: 250px;
    height: 260px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
    z-index: 1;
  }
}
