@import url("../standart-items/__img/standart-items__img.css");
@import url("../standart-items/__text/standart-items__text.css");


.standart-items {
  width: 14rem;
  height: fit content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .standart-items {
    max-width: 290px;
  }
}