.post-form__send {
  width: 199px;
  height: 55px;
  background-color: #ef7f04;
  border-radius: 3px;
  margin-left: 103px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
