@import url("../standart-block/__background/standart-block__background.css");

.standart-block {
  width: 1200px;
  height: 436px;

  border-radius: 3px;
}

@media screen and (max-width: 992px) {
  .standart-block {
    max-width: 880px;
    height: 679px;
  }
}