

.logo {
  width: 89.5px;
  height: 63px;
  margin-left: 360px;
  margin-top: 17px;
  margin-bottom: 17px;
}

@media screen and (max-width: 992px) {
  .logo {
    width: 106px;
    height: 75px;
    margin-left: 156px;
    margin-bottom: 5px;
  }
}
