@media screen and (max-width: 992px) {
  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 35px;
    left: 45px;
    width: 56px;
    height: 35px;
    cursor: pointer;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ef7f04;
    transition-duration: 0.25s;
  }

  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
}
