.about-desc__logo {
  width: 198.12px;
  height: 139.46px;
  margin-top: 50px;
  margin-left: 50px;
}

@media screen and (max-width: 992px) {
  .about-desc__logo {
    margin-left: 20px;
  }
}