.post__box {
  max-width: 1920px;
  max-height: 562px;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 992px) {
  .post__box {
    max-width: 992px;
    height: 562px;
  }
}

.post__box:after {
  content: "";
  width: 1920px;
  height: 562px;
  position: absolute;
  top: 98px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 992px) {
  .post__box:after {
    max-width: 992px;
    height: 562px;
  }
}