#menu__toggle {
  display: none;
}

@media screen and (max-width: 992px) {
  #menu__toggle {
    opacity:0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .navigation__list {
    visibility: visible;
    left: 0;
  }
}
