@import url("../post-form-mod/__field/post-form-mod__field.css");
@import url("../post-form-mod/__send/post-form-mod__send.css");
@import url("../post-form-mod/__text/post-form-mod__text.css");
@import url("../post-form-mod/__textarea/post-form-mod__textarea.css");
@import url("../post-form-mod/__header/post-form-mod__header.css");
@import url("../post-form-mod/__box/post-form-mod__box.css");

.post-form-mod {
  width: 511px;
  height: 565px;
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 992px) {
  .post-form-mod {
    margin-top: 132px;
  }
}
