@import url("../about-desc/__left/about-desc__left.css");
@import url("../about-desc/__logo/about-desc__logo.css");
@import url("../about-desc/__pg/about-desc__pg.css");
@import url("../about-desc/__pic/about-desc__pic.css");

.about-desc {
  max-width: 1200px;
  max-height: 461px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 0px;
}

@media screen and (max-width: 992px) {
  .about-desc {
    width: 880px;
  }
}