.qa__list {
  width: 998px;
  height: 82px;
  background-color:#EEEEF3;
  margin-top: 14px;
  list-style: none;
}

.qa__list::-webkit-details-marker {
  display: none;
}

.qa__list:visited{
  background-color:#ffffff;
}

.qa__list:hover{
  background-color:#ffffff;
}

.qa__list:last-child {
  margin-bottom: 63px;
  height:fit-content;
}

@media screen and (max-width: 992px) {
  .qa__list {
    width: 800px;
  }
}