@import url("../post-text/__header/post-text__header.css");
@import url("../post-text/__text/post-text__text.css");

.post-text {
  width: 511px;
  height: 126px;
  display: flex;
  flex-direction: column;
}