.buttons__header-mod-2 {
  width: 256px;
  height: 54.5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: #3b3a63;
  margin-top: 56px;
}

@media screen and (max-width: 992px) {
  .buttons__header-mod-2 {
    margin-top: 30px;
  }
}