@import url("../post-desc/__desc/post-desc__desc.css");
@import url("../post-desc/__pic/post-desc__pic.css");
@import url("../post-desc/__text/post-desc__text.css");

 .post-desc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}