.products {
  max-width: 1145px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 920px) {
  .products {
    max-width: 900px;
  }
}
