.qa__text {
  font-size: 18px;
  color: #2f2f51;
  font-weight: 700;
  line-height: 22px;
  margin-top: 30px;
  margin-left:20px; 
  list-style: none;
  margin-bottom:30px;
}
.qa__text::-webkit-details-marker {
  display: none;
}

.qa__text:hover {
  color: #ef7f1a;
}