@import url("../qa/__list/qa__list.css");
@import url("../qa/__text/qa__text.css");
@import url("../qa/__text-desc/qa__text-desc.css");

.qa {
  max-width: 100%;
  max-height: fit-content;
  background-color: #ef7f1a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .qa {
    max-width: 880px;
    max-height: 792px;
    margin-left: auto;
    margin-right: auto;
  }
}
