@import url("../post/__background/post__background.css");
@import url("../post/__box/post__box.css");
@import url("../post/__head/post__head.css");
@import url("../post/__leftside/post__leftside.css");
@import url("../post/__rightside/post__rightside.css");
@import url("../post/__background-2/post__background-2.css");

.post {
  max-width: 1920px;
  max-height: 562px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 992px) {
  .post {
    max-width: 992px;
    max-height: 562px;
  }
}
