.post__leftside {
  width: 710px;
  height: 428px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 168px;
  left: 444px;
}

@media screen and (max-width: 992px) {
  .post__leftside {
    left: 77px;
  }
}