.about {
  max-width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 992px) {
  .about {
    margin-top: 0px;
  }
}