@import url("../footer/__sides/footer__sides.css");
@import url("../footer/__sides-text/footer__sides-text.css");
@import url("../footer/__logo/footer__logo.css");

.footer {
  margin-top: 41px;
  width: 100%;
  height: 146px;

  background-color: #2f2f51;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .footer {
    max-width: 992px;
  }
}
