@import url("../about-menu/__blocks/about-menu__blocks.css");

.about-menu {
  max-width: 1200px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

@media screen and (max-width: 992px) {
  .about-menu {
    max-width: 880px;
  }
}