

.navigation__item {
  list-style-type: none;
  margin-left: 19px;
}


@media screen and (max-width:992px){
    .navigation__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }

  .navigation__item:hover {
    background-color: #ef7f04;
  }
}