.about-desc__pg {
  width: 304px;
  height: 214px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-left: 265px;
  margin-right: 30px;
  margin-top: 47px;
}

@media screen and (max-width: 992px) {
  .about-desc__pg {
    margin-left: 104px;
  }
}