@import url("../post-form/__box/post-form__box.css");
@import url("../post-form/__car/post-form__car.css");
@import url("../post-form/__field/post-form__field.css");
@import url("../post-form/__header/post-form__header.css");
@import url("../post-form/__link/post-form__link.css");
@import url("../post-form/__pc/post-form__pc.css");
@import url("../post-form/__send/post-form__send.css");
@import url("../post-form/__text/post-form__text.css");
@import url("../post-form/_mod/post-form_mod.css");
@import url("../post-form/__field/-mod/post-form__field-mod.css");
@import url("../post-form/__textarea/post-form__textarea.css");
@import url("../post-form/__text/-mod/post-form__text-mod.css");
@import url("../post-form/__send/-mod/post-form__send-mod.css");
@import url("../post-form/__field-text/post-form__field-text.css");

.post-form {
  width: 406px;
  height: 428px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
