@import url("../info-contacts/__img/info-contacts__img.css");
@import url("../info-contacts/__number/info-contacts__number.css");
@import url("../info-contacts/__text/info-contacts__text.css");

.info-contacts {
  max-width: 568px;
  max-height: 565px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}