@import url("../buttons/__header/buttons__header.css");
@import url("../buttons/__img/buttons__img.css");
@import url("../buttons/__header/-mod/buttons__header-mod.css");
@import url("../buttons/__header/-mod-2/buttons__header-mod-2.css");
@import url("../buttons/__header/-new/buttons__header-new.css");

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 13px;
  margin-top: 28.5px;
  margin-bottom: 28.5px;
}

@media screen and (max-width: 992px) {
  .buttons {
    margin-left: 295px;
  }
}