.standart-frontside {
  width: 1200px;
  height: 436px;

  display:flex;
  flex-direction:column;
  align-items:center;


  position: absolute;
  top:2110px;
}

@media screen and (max-width:992px){
  .standart-frontside {
    width: 880px;
    height: 679px;
    top:2660px;
  }
}