.catalog {
  width: 1215px;
  height: 560px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 50px;
}

@media screen and (max-width: 992px) {
  .catalog {
    max-width: 600px;
    height: fit-content;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}