.buttons__header {
  width: 169px;
  height: 40px;
  margin-right: 14px;
  background-color: #ef7f04;
  color: white;
  font-size: 13px;
  border-radius: 3px;
}

@media screen and (max-width: 992px) {
  .buttons__header {
    max-width: 180px;
  }
}